PORT=3000

NODE_ENV=development

ELASTICSEARCH_NODE=http://localhost:9200

ELASTICSEARCH_SECURITY_ENABLED=false

ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

AUTO_INGEST=true

MOVIES_CSV_PATH=./data/tmdb_5000_movies.csv
CREDITS_CSV_PATH=./data/tmdb_5000_credits.csv

INGESTION_RETRIES=5
INGESTION_RETRY_DELAY_MS=3000